# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Techvariable_Projects\Medpiper_backend-develop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
